body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: black;
  color: white;
}


.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
}


.side {
  border-left: 1px solid white;
  padding-left: 20px;
  margin-left: 50px;

  width: 530px;


}

@media screen and (max-width:620px) {
  .side {
    width: auto;
  }
}


.circle::before {
  width: 10px;
  height: 10px;
  background-color: white;

  position: absolute;
  content: '';

  top: 0px;
  border: 8px solid black;
  left: -33px;

}


.circle {
  position: relative;

  color: chartreuse;
}


.square::before {
  width: 5px;
  height: 5px;
  background-color: #e78686;
  position: absolute;
  content: '';
  top: 0px;
  border: 8px solid black;
  left: -31px;
  border-radius: 10px;
}


.square {
  position: relative;

  display: block;
  color: white;

  margin-top: 15px;
}

.box {
  margin: 6px;
  border: 1px solid grey;
  padding: 5px;
  display: inline-block;
}


.header {

  width: 100%;
  text-align: center;
  top: 0px;
  position: fixed;
  background: transparent;
  backdrop-filter: blur(5px);
  padding: 4px;

  opacity: 1;
  z-index: 1;
  padding-bottom: 15px;
}

.search {
  border: 1px solid black;
  padding: 10px;
  min-width: 250px;
}

.btn {
  background-color: #e78686;
  position: absolute;
  right: 10px;
  bottom: 10px;
  position: fixed;
  z-index: 3
}

/* credits for loader: https://codepen.io/kingfisher13/pen/vKXwNN */
.loader {
  width: 60px;
}

.loader-wheel {
  animation: spin 1s infinite linear;
  border: 2px solid rgba(30, 30, 30, 0.5);
  border-left: 4px solid #fff;
  border-radius: 50%;
  height: 50px;
  margin-bottom: 10px;
  width: 50px;
}

.loader-text {
  color: #fff;
  font-family: arial, sans-serif;
}

.loader-text:after {
  content: 'Loading';
  animation: load 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes load {
  0% {
    content: 'Loading';
  }

  33% {
    content: 'Loading.';
  }

  67% {
    content: 'Loading..';
  }

  100% {
    content: 'Loading...';
  }
}

.loader-container {
  display: flex;
  justify-content: center;
}